{% extends 'news/base.html' %}
{% load static %}
{% block title  %} Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
    <h1>parolni tiklash</h1>
    <p>Parolingizni o'zgartirish uchun quyidagi formani to'ldiring</p>

    {% if validlink %}
    <p>Iltimos yangi parolni yana kiriting</p>
        <form method="post">{% csrf_token %}
           {{ form.as_p }}
        </form>
        <p><button type="button"> Parolni almashtirish</button></p>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi, 
            va ishlatilish vaqti o'tib ketgan bo'lishi mumkin.</p>
        
    {% endif %}

{% endblock content %}